body * {
  /*outline: pink 1px dotted;*/
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  font-size: 10px;
  margin: 0 auto;
  width: 1000px;
}

a {
  color: #0DA2A2;
  text-decoration: none;
}

a:hover {
  color: #0FC3C3;
}

main {
  margin-top: 40px;
  width: 100%;
}
