<div class="bookmarks-view">
  <h2>Bookmarks</h2>
  <div class="bookmark">
    <span><a href="#">View</a></span>
    <span><a href="#">Delete</a></span>
    <span>Description for bookmark 1</span>
  </div>
  <div class="bookmark">
    <span><a href="#">View</a></span>
    <span><a href="#">Delete</a></span>
    <span>Description for bookmark 2</span>
  </div>
  <div class="bookmark">
    <span><a href="#">View</a></span>
    <span><a href="#">Delete</a></span>
    <span>Description for bookmark 3</span>
  </div>
</div>
