<div class="dendrogram-view dendro-pos" ng-controller="DendrogramController as dendrogram">

  <interactiveradialdendrogram
    filter="dendrogram.filter"
    habitat="dendrogram.habitat">
  </interactiveradialdendrogram>

  <div class="filter">
    <h2>Filter</h2>
    <!-- <label for="dendrogram-filter">Search</label> -->
    <!-- <input class="search-filter" name="dendrogram-filter" ng-model="dendrogram.filter" placeholder="Search"> -->
    <label for="habitat-filter">Select a habitat</label>
    <select class="styled-select" name="habitat-filter" ng-model="dendrogram.habitat">
      <option value="pelagic">Pelagic</option>
      <option value="abyssal">Abyssal</option>
      <option value="bathyal">Bathyal</option>
    </select>
  </div>

</div>
