<div class="dendrogram-view" ng-controller="DendrogramController as dendrogram">

  <interactiveradialdendrogram
    filter="dendrogram.filter"
    habitat="dendrogram.habitat"
    taxonrank="dendrogram.taxonRank"
    classtype="dendrogram.classType">
  </interactiveradialdendrogram>

  <div class="filter">
    <h2>Filter</h2>
    <label for="habitat-filter">Habitat</label>
    <select name="habitat-filter" ng-model="dendrogram.habitat">
      <option value="pelagic">pelagic</option>
      <option value="abyssal">abyssal</option>
      <option value="bathyal">bathyal</option>
    </select>
    <label for="taxonrank-filter">Taxon Level</label>
    <select name="taxonrank-filter" ng-model="dendrogram.taxonRank">
      <option value="phylum">phylum</option>
      <option value="class">class</option>
      <option value="order">order</option>
      <option value="family">family</option>
      <option value="genus">genus</option>
      <option value="species">species</option>
    </select>
    <label for="classtype-filter">Class</label>
    <select name="classtype-filter" ng-model="dendrogram.classType">
      <option value="reptilia">reptilia</option>
      <option value="mammalia">mammalia</option>
    </select>
    <div class="bookmark">
      <button ng-click="dendrogram.showBookmarkForm = !dendrogram.showBookmarkForm" type="button" name="showBookmarkForm" ng-show="!dendrogram.showBookmarkForm">Bookmark</button>
      <div class="bookmark-form" ng-show="dendrogram.showBookmarkForm">
        <h3>Your bookmark</h3>
        <p>
          Habitat: {{ dendrogram.habitat }}
        </p>
        <p>
          Classes: 'Reptiles, Birds'
        </p>
        <input name="bookmark-title" placeholder="Title..." ng-model="dendrogram.bookmarkTitle">
        <input name="bookmark-note" placeholder="Notes..." ng-model="dendrogram.bookmarkNote">
        <button ng-click="dendrogram.createBookmark()" type="button" name="bookmark-button">Save Bookmark</button>
      </div>
    </div>
  </div>

</div>
