<div class="bookmarks-view" ng-controller="bookmarksController as bookmarks">
  <h2>Bookmarks</h2>

  <div class="bookmark" ng-repeat="bookmark in bookmarks.bookmarks">
    <span ng-show="!showInfo"><a ng-click="showInfo = !showInfo">View details</a></span>
    <span ng-show="showInfo"><a ng-click="showInfo = !showInfo">Hide details</a></span>
    <span ng-click="bookmarks.delete()">Delete</span>
    <span>{{ bookmark.description }}</span>
    <div ng-show="showInfo">
      <p>
        <strong>Habitat: </strong> {{bookmark.characterstics.habitat[0]}}
      </p>
      <p>
        <strong>Diet: </strong>{{bookmark.characterstics.diet}}
      </p>
    </div>
  </div>
  <div>
    {{ bookmarks.message }}
  </div>

</div>
