<div class="bookmarks-view">
  <h2>Bookmarks</h2>

  <div class="bookmark" ng-repeat="bookmark in bookmarks.bookmarks">
    <span ng-click="bookmarks.view(bookmark)">View</span>
    <span ng-show="!showInfo"><a ng-click="showInfo = !showInfo">Details</a></span>
    <span ng-show="showInfo"><a ng-click="showInfo = !showInfo">Hide details</a></span>
    <span ng-click="bookmarks.delete()">Delete</span>
    <span>{{ bookmark.title }}</span>
    <div ng-show="showInfo">
      <p><strong>Notes: </strong>{{ bookmark.notes }}</p>
      <p><strong>Created: </strong>{{ bookmark.date | date }}</p>
    </div>
  </div>
  <div>
    {{ bookmarks.message }}
  </div>

</div>
